# Copier ce fichier en secrets.yaml (ignoré par git) et remplir.
wifi_ssid: "NuageIOT"
wifi_password: "A_REMPLIR"
ota_password: "A_REMPLIR"
mqtt_username: "mqtt_admin"   # laisser "" pour le broker du site (sans authentification)
mqtt_password: "A_REMPLIR"    # laisser "" pour le broker du site
